.sidebar {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  padding: 25px;
}

button {
  margin: 5px;
}

.login {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  width: 80%;
  min-width: 150px;
}

.register {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  width: 80%;
  min-width: 150px;
}

.register button,
.login button {
  margin: 10px;
}
